<template name="purchases">
	<h1>My Shopping</h1>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Made in</th>
				<th>Payment Method</th>
				<th>Total R$</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{{#each purchases}}
	    <tr>
	      <td>{{ formatarData createdAt}}</td>
				<td>{{ formaDePagamento}}</td>
				<td>{{somaProdutos this.products}}</td>
	      <td><a href="{{ pathFor 'showPurchase' }}" class="btn btn-default btn-xs"><i class="fa fa-info-circle"></i> View Buy</a></td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</template>
