<template name="showPurchase">
	<div class="row">
		<div class="col-md-12">
			<h2>Order <small>{{_id}}</small></h2>
			<p class="lead">
				Date of purchase: {{ formatarData createdAt}}<br>
				Payment Method: {{formaDePagamento}}
			</p>
			<br><br>
			<table class="table">
				<thead>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
				</thead>
				<tbody>
					{{#each products}}
					<tr>
						<td>{{name}}</td>
						<td>{{ duasCasas price}}</td>
						<td>{{quantity}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<p class="text-right lead text-success"><strong>Total: {{somaProdutos this.products}}</strong></p>
			<hr>
			<p class="text-left">
				<a href="{{ pathFor 'purchases'}}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to My Purchases</a>
			</p>
		</div>
	</div>
</template>
