<template name="detailsProduct">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="/images/default_product.png" alt="" />
      </p>
    </div>
    <div class="col-md-8">
      <h2>{{name}} <br><small>{{duasCasas price}}</small></h2>
      <p>
        <small>Quantity in stock: {{quantity}}</small>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at pretium risus. Proin venenatis, leo maximus sodales convallis, mauris lacus scelerisque odio, ac pharetra ligula odio et nisi. Proin vulputate nunc a magna venenatis vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed a posuere nibh. Ut ornare consectetur arcu, sed feugiat orci. Etiam rhoncus arcu ligula, id molestie justo pellentesque id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent purus mauris, vehicula a magna eget, posuere mattis turpis. Nullam ac metus pulvinar, bibendum sapien eu, ultricies libero.
      </p>
      <p>
        <a class="btn btn-default" href="{{ pathFor 'home' }}" role="button"><i class="fa fa-arrow-left"></i> Back to catalog</a>
        {{#if comEstoque}}
        <a class="btn btn-info" href="#" role="button" id="cart"><i class="fa fa-plus-circle"></i> Add to Cart</a>
        {{else}}
        <a class="btn btn-warning" disabled="disabled"><i class="fa fa-exclamation-triangle"></i> Out Of Stock</a>
        {{/if}}
      </p>
    </div>
  </div>
</template>
