<template name="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ pathFor 'home' }}">My Store</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
						{{#if currentUser}}
						<li><a href="{{ pathFor 'profile' }}">My Data</a></li>
            <li><a href="{{ pathFor 'purchases' }}">My Shopping</a></li>
						{{/if}}
            {{#if isAdmin }}
            <li><a href="{{ pathFor 'dashboard' }}">Administrative Area</a></li>
            {{/if}}
						{{> loginButtons }} <!-- here -->
            <li><a href="{{ pathFor 'carrinho' }}"><i class="fa fa-shopping-cart"></i> Cart {{> amountCart}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to <i>My Store</i></h2>
        <p>Beta Ecommerce - Proof of Concept</p>
      </div>
    </div>

    <div class="container">
      {{> meteorErrors }}
      {{> yield }}
    </div> <!-- /container -->

    <footer>
      <hr>
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
          <p>&copy; <i>My Store</i> 2015.</p>
        </div>
      </div>
    </footer>
</template>
