<template name="allOrders">
  <h2>Order List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Created in</th>
        <th>User</th>
        <th>Payment Method</th>
        <th>Total R$</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>{{ dateFormat createdAt}}</td>
        <td>{{ userCompleteName}}</td>
        <td>{{inOrderPayment}}</td>
        <td>{{sumProducts this.products}}</td>
        <td>
          <a href="{{ pathFor 'showAdminOrder'}}" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> View</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
  <center>
    {{#if limitPagination limite}}
    <a class="give-me-more btn btn-primary btn-block"><i class="fa fa-refresh"></i> View more 5 Orders</a>
    {{else}}
    <a class="btn btn-default btn-block" disabled="disabled"><i class="fa fa-times"></i> Listing the final</a>
    {{/if}}
  </center>
</template>
