<template name="dashboard">
	<h1>Administrative Area</h1>
	<hr>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Permission</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{{#each users}}
	    <tr>
	      <td>{{profile.completeName}}</td>
	      <td>
	      	{{#each emails}}
	      	<span>{{address}}</span>
	      	{{/each}}
	      </td>
	      <td>{{profile.permissao}}</td>
	      <td>
	      	<a href="{{ pathFor 'showUser'}}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> View details</a>
	      	<a href="{{ pathFor 'editUserRoles'}}" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i> Edit permissions</a>
	      	<a href="{{ pathFor 'editUser'}}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Edit Information</a>
	      </td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</template>
